{% extends "base.html" %}
{% block content %}
<div class="welcome-banner">
    <h1 align="center">Добро пожаловать на сайт "Грибничок"</h1>
</div>
<div>
    <img src="static/images/mushroom-hero.jpg" class="hero-img" alt="Mushroom Hero Image">
</div>
<div>
    <h4>О проекте</h4>
</div>
<div class="row">
    <div class="col s12">
        <div class="about-text">Проект Грибничек предназначен для создания интерактивного сообщества любителей грибов, которые любят исследовать дикую природу вокруг себя в поисках десятков видов грибов, растущих под нашими ногами. Целью сообщества является обнаружение различных плодов мицелиальных колоний и их классификация, чтобы другие могли исследовать и изучать их.
            Зарегистрированные члены сообщества могут добавлять географические места, а также информацию о грибах, которые были найдены в этих местах.
            В настоящее время проект сосредоточен на определении местоположения и распознавании съедобности грибов в Центральном Федеральном Округе, но сайт будет расширяться, чтобы дать возможность людям со всего мира расширить знания о грибах.
            Так что, если вы собираете грибы с целью употребить в пищу или просто хотите узнать больше о фантастическом мире грибов, заходите на нашу карту грибов и начинайте поиски сокровищ!
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m4 icon-text">
        <p>Изучай</p>
        <p class="icons"><i class="fas fa-hiking"></i></p>
    </div>
    <div class="col s12 m4 icon-text">
        <p>Находи</p>
        <p class="icons"><i class="fas fa-search-location"></i></p>
    </div>
    <div class="col s12 m4 icon-text">
        <p>Участвуй</p>
        <p class="icons"><i class="fab fa-slideshare"></i></p>
    </div>
</div>
{% endblock %}