{% extends "base.html" %}
{% block content %}
    <h3 class="center-align">Регистрация</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix light-blue-text text-darken-4">person_add</i>
                        <input id="username" name="username" type="text" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,18}$" class="validate" required>
                        <label for="username">Логин</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix light-blue-text text-darken-4">lock</i>
                        <input id="password" name="password" type="password" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{8,18}$" class="validate" required>
                        <label for="password">Пароль</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s4 offset-m4 btn-large light-blue darken-4">
                        Зарегистрироваться <i class="material-icons">login</i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Уже зарегистрированы?
                <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Войти</a>
            </p>
        </div>
    </div>
{% endblock %}